body {
  background-image: url("https://i.giphy.com/media/MFabj1E9mgUsqwVWHu/giphy.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}
.wrap {
    position: relative;
	z-index: 8888;
	height: 100%;
	width: 100%;
  text-align: center;
}
.box {
	width: 720px;
  display: inline-block;
  margin-right:15px;
  text-align: left;
}
