<div id="<%= dom_id videofeed %>">
  <p>
    <strong>File Name:</strong>
    <%= videofeed.video %>
  </p>
 <br>
  <p>
    <strong>URL or Src:</strong>
    <%= videofeed.index %>
  </p>

  <p>
    <%= link_to "Show this videofeed", videofeed %>
  </p>
</div>
