<h1>Editing videofeed</h1>

<%= render "form", videofeed: @videofeed %>

<br>

<div>
  <%= link_to "Show this videofeed", @videofeed %> |
  <%= link_to "Back to videofeeds", videofeeds_path %>
</div>
