<p style="color: green"><%= notice %></p>

<h1>ADD</h1>
<div class="wrap" id="videofeeds">
  <%= render @videofeeds %>
</div>
<%= link_to "New videofeed", new_videofeed_path %>
<br>
<h2 class="card">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</h2>
<%= render "videofeeds/camera" %>
