<p style="color: green"><%= notice %></p>

<h1>Video Stuff</h1>
<br>

<table>

<div class="card-body">
  <video id="video" playinline autoplay></video>
</div>

<div class="controller">
  <button id="snap">Take a Picture</button>
</div>

<canvas id="canvas" width="1280" height="720"></canvas>

</table>




<script>

'use strict';

const video = document.getElementById('video');
const canvas = document.getElementById('canvas');
const snap = document.getElementById('snap');
const errorMsgElement = document.getElementById('span#ErrorMsg');

const constraints = {
   audio: false, // off for now till i learn how to stop the feedbackloop
   video:{
     width: 1280, height: 720
    }
};


async function init(){
  try{
      const stream = await navigator.mediaDevices.getUserMedia(constraints);
      handleSuccess(stream);
     }
    catch(e){
      errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
    }
}

function handleSuccess(stream){
   window.stream = stream;
   video.srcObject = stream;
}

init();

var context = canvas.getContext('2d');
snap.addEventListener("click",function(){
    context.drawImage(video, 0, 0, 1280, 720,);
})


</script>

<div id="videofeeds">
  <%= render @videofeeds %>
</div>


<%= link_to "New videofeed", new_videofeed_path %>
